.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  margin: 0 0 50px 0;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.actions {
  display: flex;
}


.pizzaLogo path{
  fill: var(--primary-color) !important;
  transition: fill 0.2s ease-in-out;
}

.pizzaLogo:hover path{
  fill: var(--primary-color-hover) !important;
}

.pizzaLogo:active {
  fill: var(--primary-color-active) !important;
}

.spin {
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% { transform:rotate(360deg); }
}

.successMessage {
  color: green;
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-family: alkaline-caps;
  font-size: 24px;
}

.drFarnsworth {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}